<header class="header" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security">
    <h1>Parley Admin</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/logout">Logout</a></li>
            <li th:if="${user != null}">
                <a th:if="${user.isAdmin()}" href="#">Admin Test</a>
            </li>
        </ul>
    </nav>
</header>