<header class="header" th:fragment="header" xmlns:th="http://www.springframework.org/schema/security">
    <h1>Parley</h1>
    <nav>
        <ul>
            <li><a href="/"><button>Home</button></a></li>
            <li th:if="${user == null}"><a href="/login"><button>Login</button></a></li>
            <li th:if="${user == null}"><a href="/signup"><button>Sign Up</button></a></li>
            <div th:if="${user != null}">
                <li th:if="${!user.isAdmin()}" ><a href="/myassessments"><button>My Assessments</button></a></li>
                <li th:if="${user.isAdmin()}" ><a href="/addstudent"><button>Add Student</button></a></li>
                <li th:if="${user.isAdmin()}" ><a href="/addclass"><button>Add Class</button></a></li>
                <li th:if="${user.isAdmin()}" ><a href="/addprompt"><button>Add Prompt</button></a></li>
                <li th:if="${user.isAdmin()}" ><a href="/schedule"><button>Schedule Interviews</button></a></li>
                <li th:if="${user.isAdmin()}" ><a href="/makeadmin"><button>Make Admin</button></a></li>
                <li><a href="/editprofile"><button>Edit Profile</button></a></li>
                <li><a href="/aboutus"><button>About Us</button></a></li>
                <li><a href="/logout"><button>Logout</button></a></li>
            </div>
        </ul>
    </nav>
</header>
