body{
    top: 0;
}

header {
    margin-bottom: 60px;
}

footer{
    height: 50px;
    position: fixed;
    left: 45%;
    bottom: 0;
    width 100%;
    text-align: center;

}

.wrapper {
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}

.push {
  height: 50px;
}

.loginHolder{
    display: flex;
    flex-direction: row;

}

.imageHolder{
    position: relative;
}

.imageContent{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    text-align: center;
}

form {
    text-align: center;
    margin: 30px auto;
}

form select {
    display: block;
    margin: 0 auto;
    padding: 5px;
    width: 50%;
}

.centerBtn {
    display: block;
    margin: 15px auto;
}

section {
    margin: 60px auto;
    text-align: center;
}

.divCenterHolder {
    text-align: center;
}

.divCenterHolder2 {
    display: block;
    text-align: center;
    margin: 15px auto;
    align: center;
}

.logoutMsg {
    margin: 120px auto;
    text-align: center;
}

.devTeam{
    height: 200px;
    width: 100%;
    display: block;
}

.devHolder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.devCard{
    margin: 30px;
}

.errorScreen{
    margin: 30px auto;
    display: block;
}

#timer{
    text-align: center;
    align-content: center;
}


.timerBox{
    background-color: gray;
    z-index: 9999;
    height: 45px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    top: 0;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.eval{
    margin-top: 30px;
}