<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>About The Parley Developers</title>
    <!--<link href="/aboutUs.css" rel="stylesheet" />-->
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">

</head>
<body>
    <center>
        <h1 class="center">About The Parley Developers</h1>
    </center>

    <div class="devHolder">
        <div class="card border-primary mb-3 devCard" style="max-width: 20rem;">
            <div class="card-header">Luke Chandler</div>
            <div class="card-body">
                <img src="/images/Luke.png" alt="LukeImage" title="Luke image" style="height: 200px; width: 100%; display: block;"/>
                <p class="card-text">I am an aspiring software development engineer at Amazon Web Services. My background is in Biochemistry and
                    Military Intelligence as well as International Cooperation and Global Marketing Strategy. I decided to change
                    career paths after seeing the degree to which technology permeates everything. It is also an industry that is
                    constantly mentally challenging. In my spare time, I enjoy playing golf and climbing mountains.
                </p>
                <a class="aboutb card-link" href="https://www.linkedin.com/in/luke-chandler4/" target="_blank">LinkedIn</a>
                <a class="aboutb card-link" href="https://github.com/lhchandler4" target="_blank">GitHub</a>
            </div>
        </div>

        <div class="card border-primary mb-3 devCard" style="max-width: 20rem;">
            <div class="card-header">Robert Bronson</div>
            <div class="card-body">
                <img src="/images/Robert.png" alt="RobertImage" title="Robert image" style="height: 200px; width: 100%; display: block;"/>
                <p class="card-text">

                </p>
                <a class="aboutb card-link" href="https://www.linkedin.com/in/robert-bronson/" target="_blank">LinkedIn</a>
                <a class="aboutb card-link" href="https://github.com/rjbrons" target="_blank">GitHub</a>
            </div>
        </div>

        <div class="card border-primary mb-3 devCard" style="max-width: 20rem;">
            <div class="card-header">Stephen Chu</div>
            <div class="card-body">
                <img src="/images/Steve.png" alt="StephenImage" title="Stephen image" style="height: 200px; width: 100%; display: block;"/>
                <p class="card-text">SDE Apprentice | BSc Applied Math | US Air Force Veteran. I like long walks in the black desert under the moonlit
                    sky. I like to eat bibimbap and to ugly cry while watching Korean RomComs. I love to sing-a,About the moon-a and the June-a and the spring-a,
                    I love to sing-a, About a sky of blue-a, or a tea for two-a, Anything-a with a swing-a to an "I love you-a, " I love to, I love to sing!
                </p>
                <a class="aboutb card-link" href="https://www.linkedin.com/in/stephenchu530/" target="_blank">LinkedIn</a>
                <a class="aboutb card-link" href="https://github.com/stephenchu530" target="_blank">GitHub</a>
            </div>
        </div>

        <div class="card border-primary mb-3 devCard" style="max-width: 20rem;">
            <div class="card-header">Will Fritts</div>
            <div class="card-body">
                <img src="/images/will.jpg" alt="WillImage" title="Will image" style="height: 200px; width: 100%; display: block;"/>
                <p class="card-text">I am a Software Developer Engineer Apprentice with Amazon. I am a veteran and current member of the National Guard.
                    I’ve always had an interest in software development. It stems from my love of science and desire to learn new
                    things. At a young age, I fell in love with reading. As I grew older, that turned into a love of learning.
                    My main interests have always been the sciences and I loved reading science fiction. I’ve looked to that
                    future in those books as a guide to what we can be and have wanted to help bring that future to now.
                </p>
                <a class="aboutb card-link" href="https://www.linkedin.com/in/williamfritts/" target="_blank">LinkedIn</a>
                <a class='aboutb card-link' href="https://github.com/wafman" target="_blank">GitHub</a>
            </div>
        </div>
    </div>

<div th:replace="fragments/footer :: foot"></div>
</body>
</html>