<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <title>Home</title>

</head>
<body>

    <div th:replace="fragments/header :: header" ></div>

    <h1>Add Interview Prompt</h1>

    <!-- form to add prompts to the db-->
    <form method="POST" action="/prompt" encType="multipart/form-data">
        <p>Prompt Title: <input name="title" id="title"></p>
        <p>Category: <input name="category" id="category"></p>
        <p>Prompt URL: <input name="promptUrl" id="promptUrl"></p>
        <button>Save</button>
    </form>

    <img src="/dry-erase-home.png" alt="Whiteboard"><br>
    <div th:replace="fragments/footer :: foot"></div>

</body>