<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <title>Edit Profile</title>
</head>
<body>

    <div th:replace="fragments/header :: header" ></div>

    <section>
        <h1>Under Construction. Coming Soon!</h1>

    </section>
    <div th:replace="fragments/footer :: foot"></div>
</body>
</html>