<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <link href="/css/modalOveride.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
    <div th:replace="fragments/loginPageHeader :: header"></div>

    <div class="loginHolder">
        <div class="imageContainer">
            <img src="/images/dry-erase-home.png" alt="Whiteboard" style="width:70%;">
            <div class="imageContent">
                <h1>Parley</h1>
                <p>Parley is the application making the mock whiteboard interview process easier.</p>
                <p>No more guessing about when your interview is or who you're doing it with.</p>
                <p>A userAccount simply schedules the interview and you are notified</p>
                <p>We take all of the guesswork out of scheduling the interview. Less stress! More time to practice</p>
            </div>
        </div>

        <!--<div class="divCenterHolder2">-->
        <div>
            <form action="/login" class="col s12" method="post">
                <fieldset>
                    <legend>Login</legend>
                    <div th:if="${error}">
                        <p style="color: red;" th:text="${error}"></p>
                    </div>

                    <div class="form-group">
                        <label for='username' class="col-sm-2 col-form-label">Enter your username</label>
                        <input class='validate' type='text' name='username' id='log-username' />
                    </div>

                    <div class="form-group">
                        <label for='password' class="col-sm-2 col-form-label">Enter your password</label>
                        <input class='validate' type='password' name='password' id='log-password' />
                    </div>

                    <div class='row'>
                        <button type='submit' name='btn_login' class="btn btn-primary centerBtn">Login</button>
                    </div>
                </fieldset>
            </form>

            <div>
                <!--<button type="button" id="myBtn" class="btn btn-primary btn-lg centerBtn">Login</button>-->
                <button type="button" id="myBtn" class="btn btn-primary btn-lg centerBtn">Register</button>
            </div>
        </div>

        <!--</div>-->

    </div>


    <div id="myModal" class="modal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="student-form" method="POST" th:action="@{/register}" autocomplete="on">
                        <div th:if="${errors}" th:each="error: ${errors}">
                            <p style="color: red;"  th:text="${error}"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="firstName">First Name</label>
                            <input type='text' name="firstName" id="firstName" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
                            <input type='text' name="lastName" id="lastName" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="username">Username</label>
                            <input type='text' name="username" id="username"required/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="password">Password</label>
                            <input type='password' name="password" id="password"required/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="classDesignator">Class</label>
                            <input type='text' name="team" id="classDesignator" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="email">Email</label>
                            <input type='email' name="email" id="email" />
                        </div>
                        <button type='submit' name='btn_login' class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <div th:replace="fragments/footer :: foot"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="push"></div>
    </div>

    <div th:replace="fragments/footer :: foot"></div>
<script type="text/javascript" src="/js/modal.js"></script>

<!--<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
<script>window.__theme = 'bs4';</script>
</body>
</html>