<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <title>Login</title>
</head>
<body>
<div th:if="${principal == null}">
    <div th:replace="fragments/header :: header"></div>
</div>
<!--<div th:if="${principal != null}">-->
    <!--<div th:replace="fragments/loggedInHeader :: header(principal=${principal})"></div>-->
<!--</div>-->
    <form action="/login" class="col s12" method="post">
        <fieldset>
            <legend>Login</legend>
            <div th:if="${error}">
                <p style="color: red;" th:text="${error}"></p>
            </div>

            <div class="form-group">
                <label for='username' class="col-sm-2 col-form-label">Enter your username</label>
                <input class='validate' type='text' name='username' id='log-username' />
            </div>

            <div class="form-group">
                <label for='password' class="col-sm-2 col-form-label">Enter your password</label>
                <input class='validate' type='password' name='password' id='log-password' />
            </div>

            <div class='row'>
                <button type='submit' name='btn_login' class="btn btn-primary">Login</button>
            </div>
        </fieldset>


    </form>

    <button type="button" id="studentRegister" class="btn btn-primary btn-lg">Register</button>

    <div id="studentModal" class="modal" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Register</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="student-form" method="POST" th:action="@{/register}" autocomplete="on">
                        <div th:if="${errors}" th:each="error: ${errors}">
                            <p style="color: red;"  th:text="${error}"></p>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="firstName">First Name</label>
                            <input type='text' name="firstName" id="firstName" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
                            <input type='text' name="lastName" id="lastName" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="username">Username</label>
                            <input type='text' name="username" id="username"required/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="password">Password</label>
                            <input type='password' name="password" id="password"required/>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="classDesignator">Class</label>
                            <input type='text' name="team" id="classDesignator" />
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 col-form-label" for="email">Email</label>
                            <input type='email' name="email" id="email" />
                        </div>
                        <button type='submit' name='btn_login' class="btn btn-primary">Register</button>
                    </form>
                </div>
                <div class="modal-footer-student">
                    <div th:replace="fragments/footer :: foot"></div>
                </div>
            </div>
      </div>
    </div>

<div th:replace="fragments/footer :: foot"></div>
<script type="text/javascript" src="/javascript/modal.js"></script>
</body>
</html>