<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <link href="/css/modalOveride.css" rel="stylesheet" />
    <title>Make Admin</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

    <section>
        <h2>Your Profile</h2>
        <p th:text="${'Email: ' + loggedInUser.username}"></p>
        <p th:text="${'First Name: ' + loggedInUser.firstName}"></p>
        <p th:text="${'Last Name: ' + loggedInUser.lastName}"></p>
        <!--<p th:text="${'Team: ' + loggedInUser.team}"></p>-->
    </section>
    <section th:if="${loggedInUser.isAdmin()}">
        <form method="post" action="/makeAdmin" th:if="${loggedInUser.isAdmin()}">
            <fieldset>
                <legend>Grant Admin Rights</legend>
                <div class="form-group">
                    <label for="makeAdmin">Select User to make an Admin</label>
                    <div class="divCenterHolder2">
                        <select name="makeAdmin" id="makeAdmin" style="display: block; width: 50%;" class="form-control">
                            <fragment th:each="user: ${users}" >
                                <option th:if="${!user.isAdmin()}" th:value="${user.username}" th:text="${user.username}"></option>
                                <option th:if="${user.isAdmin()}" th:value="${user.username}" th:text="${user.username + ' (Admin)'}"></option>
                            </fragment>
                        </select>
                    </div>
                </div>
                <input type="submit" value="Make Admin" class="btn btn-primary centerBtn"/>
            </fieldset>
        </form>
    </section>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>