<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="/css/reset.css" rel="stylesheet" />
    <link href="/css/general.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/sketchy/bootstrap.min.css">
    <title th:if="${user.isAdmin()}">Instructor Profile</title>
    <title th:if="${!user.isAdmin()}">Student Profile</title>
</head>
<body>

    <div th:replace="fragments/header :: header" ></div>

    <section>
        <h1 th:if="${user != null}">Welcome, [[${user.firstName}]]</h1>

        <!--    Student stuff goes here -->
        <div th:if="${user.isAdmin() == false}" >
            <div th:replace="fragments/scheduledInterviewsFragment :: schedulelist(${user})" ></div>
        </div>

        <!--    Admin stuff goes here -->
        <div th:if="${user.isAdmin() == true}" >

        </div>
    </section>
    <div th:replace="fragments/footer :: foot"></div>
</body>
</html>
